!!! 5
%html
  %head
    %title TodoList
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults, "json2", "underscore",  "icanhaz", "backbone", "task_lists", "tasks", "home"
    = csrf_meta_tag
  %body
    = yield

